<app-biomedicausernavbar></app-biomedicausernavbar>
<div style="margin-top: 3%; margin-left: 5%; margin-right: 5%; background-color: white;">
</div>

<div style="margin-top: 2%; margin-bottom: 2%;">
  <h1 style="text-align: center;">EQUIPOS BIOMEDICOS</h1>
  <h6 style="text-align: center;">Busque el Tipo de Equipo Requerido.</h6>
</div>

<input type="text" placeholder="Buscar tipo de equipo..." [(ngModel)]="searchText" class="search-bar">

<div class="grid-container">
  <div class="grid-item" *ngFor="let tipoEquipo of filteredTiposEquipos()">
    <div class="card">
      <h1></h1>
      <h6>{{ tipoEquipo.nombres }}</h6>
      <h1></h1>
      <h6>{{ cantidadesEquipos[tipoEquipo.id]}}</h6>
      <h1></h1>
      <button type="button" class="btn btn-dark button-ver-equipos" (click)=viewEquiposTipos(tipoEquipo.id)>Ver Equipos</button>
      <h1></h1>
    </div>
  </div>
</div>

