:host ::ng-deep .p-card-header {
    border-bottom: 1px solid #dee2e6;
    background-color: var(--primary-50);
    padding: 1rem 1.5rem;
}

input[type="color"] {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    padding: 0;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 4px;
}