<div style="margin-top: 3%; margin-left: 5%; margin-right: 5%; background-color: white;">
</div>

<div style="margin-top: 2%; margin-bottom: 2%;">
    <h1 style="text-align: center;">EQUIPOS ASIGNADOS A: {{responsable?.nombres}}</h1>
    <h6 style="text-align: center;"> Listado de equipos asociados al responsable</h6>
</div>

<div class="card" style="margin-top: 3%; width: 94%; margin-left: 3%; margin-right: 3%;">
    <p-table #dt2 [value]="equipos" dataKey="id" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]"
        [loading]="loading" [globalFilterFields]="['nombres', 'marca', 'modelo', 'serie', 'ubicacionEspecifica']"
        [tableStyle]="{ 'min-width': '10rem' }">

        <!-- Filtro -->
        <ng-template #caption>
            <div class="flex justify-content-end">
                <p-iconfield iconPosition="left">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Búsqueda General" />
                </p-iconfield>
            </div>
        </ng-template>

        <!-- Cabecera -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width:5%">ID(Hv)</th>
                <th>Nombre</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Serie</th>
                <th>Sede</th>
                <th>Ubicación Específica</th>
                <th>Meses Mtto</th>
                <th>Registro Invima</th>
                <th>Riesgo</th>
                <th>Opciones</th>
            </tr>
        </ng-template>

        <!-- Cuerpo -->
        <ng-template pTemplate="body" let-equipo>
            <tr>
                <td class="text-center">
                    <button type="button" class="btn btn-primary btn-sm">{{ equipo.id }}</button>
                </td>
                <td>{{ equipo.nombres }}</td>
                <td>{{ equipo.marca }}</td>
                <td>{{ equipo.modelo }}</td>
                <td>{{ equipo.serie }}</td>
                <td>{{ equipo.servicios?.sede?.nombres }}</td>
                <td>{{ equipo.ubicacionEspecifica }}</td>
                <td>
                    <span *ngFor="let m of obtenerMesesConCumplimiento(equipo); let last = last" [style.color]="m.color"
                        [style.font-weight]="'bold'">
                        {{ m.mes }}{{ last ? '' : ', ' }}
                    </span>
                    <span *ngIf="!equipo.planesMantenimiento || equipo.planesMantenimiento.length === 0">Sin
                        programación</span>
                </td>
                <td>{{ equipo.registroInvima }}</td>
                <td>{{ equipo.riesgo }}</td>
                <td>
                    <p-splitbutton label="HV" icon="pi pi-check" dropdownIcon="pi pi-cog" [model]="equipo.opcionesHV"
                        severity="secondary" (onClick)="equipo.opcionesHV[1].command(equipo)">
                    </p-splitbutton>
                </td>
            </tr>
        </ng-template>

        <!-- Mensaje vacío -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="10" class="text-center">No hay Equipos.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Editar Plan de Mantenimiento" [(visible)]="displayPlanDialog" [modal]="true"
    styleClass="standard-modal modal-md" [draggable]="false" [resizable]="false">
    <div class="p-fluid">
        <div class="field">
            <label for="periodicidad">Periodicidad (Meses)</label>
            <p-inputNumber [(ngModel)]="periodicidad" inputId="periodicidad" [min]="0" [max]="12"
                (onInput)="calcularFechas()" placeholder="Ej: 3, 6, 12"></p-inputNumber>
            <small class="block">Ingrese cada cuantos meses se debe realizar el mantenimiento.</small>
        </div>
        <div class="field">
            <label for="mesInicio">Mes de Inicio</label>
            <p-dropdown [options]="monthOptions" [(ngModel)]="mesInicio" optionLabel="name" optionValue="value"
                (onChange)="calcularFechas()"></p-dropdown>
            <small class="block">Seleccione el primer mes del mantenimiento.</small>
        </div>
        <div class="field">
            <label for="meses">Meses Calculados</label>
            <p-multiSelect [options]="monthOptions" [(ngModel)]="selectedMonths" defaultLabel="Seleccione los meses"
                optionLabel="name" optionValue="value" display="chip" [disabled]="true"></p-multiSelect>
            <p class="font-bold mt-2"
                [ngClass]="{'text-green-500': selectedMonths.length > 0, 'text-red-500': selectedMonths.length === 0}">
                {{calculatedMonthsText}}
            </p>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-times" (click)="displayPlanDialog=false" label="Cancelar"
            styleClass="p-button-text p-button-secondary"></p-button>
        <p-button icon="pi pi-check" (click)="savePlan()" label="Guardar"></p-button>
    </ng-template>
</p-dialog>