.badge {
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.875rem;
}

.badge-active {
    background-color: #c8e6c9;
    color: #256029;
}

.badge-inactive {
    background-color: #ffcdd2;
    color: #c63737;
}

.field {
    margin-bottom: 1.5rem;
}

.p-dialog .p-dialog-content {
    padding: 2rem 1.5rem 1rem 1.5rem;
}
