<div class="dashboard-container">

    <div class="text-center mb-5">
        <h1 class="text-3xl font-bold mb-2">Equipos Biomédicos por Riesgo</h1>
        <p class="text-secondary text-lg">Seleccione un nivel de riesgo.</p>
    </div>

    <div class="cards-grid">
        <div class="dashboard-card" *ngFor="let riesgo of riesgos" (click)="viewEquiposRiesgo(riesgo)">
            <div class="card-icon-container" [ngClass]="obtenerColor(riesgo)">
                <i class="pi pi-exclamation-triangle"></i>
            </div>
            <div class="card-content">
                <h3>Riesgo {{ riesgo }}</h3>
                <p>Total Equipos: <strong>{{ cantidadesEquipos[riesgo] || 0 }}</strong></p>
                <span class="card-action">Ver Equipos <i class="pi pi-arrow-right"></i></span>
            </div>
        </div>
    </div>

</div>