<div style="margin-top: 3%; margin-left: 5%; margin-right: 5%; background-color: white;">
</div>


<div class="grid-container">
  <div class="grid-item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; margin-bottom: 1px;">INVENTARIO</h5>
        <div style="text-align: center; margin-bottom: 30px;">
          <i class="bi bi-inboxes-fill" style="font-size: 6rem; color: rgb(0, 0, 0);"></i>
        </div>
        <button type="button" class="btn btn-dark">INGRESAR</button>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; margin-bottom: 1px;">MANTENIMIENTO</h5>
        <div style="text-align: center; margin-bottom: 30px;">
          <i class="bi bi-gear-fill" style="font-size: 6rem; color: rgb(0, 0, 0);"></i>
        </div>
        <button type="button" class="btn btn-dark">INGRESAR</button>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; margin-bottom: 1px;">SEMAFORIZACIÓN</h5>
        <div style="text-align: center; margin-bottom: 30px;">
          <i class="bi bi-stoplights" style="font-size: 6rem; color: rgb(0, 0, 0);"></i>
        </div>
        <button type="button" class="btn btn-dark">INGRESAR</button>
      </div>
    </div>
  </div>

  <div class="grid-item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; margin-bottom: 1px;">INDICADORES</h5>
        <div style="text-align: center; margin-bottom: 30px;">
          <i class="bi bi-bar-chart-fill" style="font-size: 6rem; color: rgb(0, 0, 0);"></i>
        </div>
        <button type="button" class="btn btn-dark">INGRESAR</button>
      </div>
    </div>
  </div>

  <div class="grid-item boton">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; margin-bottom: 1px;">CALENDARIO</h5>
        <div style="text-align: center; margin-bottom: 30px;">
          <i class="bi bi-calendar-week" style="font-size: 6rem; color: rgb(0, 0, 0);"></i>
        </div>
        <button type="button" class="btn btn-dark">INGRESAR</button>
      </div>
    </div>
  </div>

    <div class="grid-item">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; margin-bottom: 1px;">ACTIVIDADES METROLOGICAS</h5>
        <div style="text-align: center; margin-bottom: 30px;">
          <i class="bi bi-stopwatch-fill" style="font-size: 6rem; color: rgb(0, 0, 0);"></i>
        </div>
        <button type="button" class="btn btn-dark">INGRESAR</button>
      </div>
    </div>
  </div>
</div>
