.form-container {
  width: 95%;
  margin: 0 auto;
}

.title-container {
  width: 95%;
  margin: 0 auto;
  margin-top: 3%;
  text-align: center;
}

.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.full-width {
  grid-column: 1 / -1;
}


.protocolo-div{
  border:1px;
  border-style: dashed;
  border-color: #9c9696;
  padding: 5px
}
