.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Tres columnas iguales */
    gap: 30px;
    padding: 20px;
    width: 90%;
    margin-left: 5%;
}

.grid-item {
    text-align: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    height: 100%;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card p {
    color: #666;
    margin-bottom: 15px;
}

.button-ver-equipos {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-ver-equipos:hover {
    background-color: #0056b3;
}

.search-bar {
    width: 90%;
    margin-left: 5%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}