
    /* Estilos para el contenedor */
    .grid-container {
      display: grid;
      gap: 10px;
      padding: 10px;
    }

    /* Configuración para pantallas grandes: 6 columnas */
    @media (min-width: 1200px) {
      .grid-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    /* Para pantallas medianas: 4 columnas */
    @media (min-width: 900px) and (max-width: 1199px) {
      .grid-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    /* Para pantallas pequeñas: 2 columnas */
    @media (min-width: 600px) and (max-width: 899px) {
      .grid-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    /* Para pantallas muy pequeñas: 1 columna */
    @media (max-width: 599px) {
      .grid-container {
        grid-template-columns: 1fr;
      }
    }

    /* Estilos para los elementos dentro del grid */
    .grid-item {
      background-color: #FFFFFF;
      color: white;
      text-align: center;
      padding: 2px;
      font-size: 15px;
    }

    .contenedor-busqueda {
      display: flex;
      align-items: center; /* Alinea verticalmente */
      justify-content: center; /* Centra el contenido */
      gap: 15px; /* Espacio entre elementos */
      flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
      width: 100%; /* Se adapta al ancho del contenedor */
      margin-top: 5%;
    }

    h6 {
      margin: 0;
      text-align: center;
      font-size: 16px;
      min-width: 200px; /* Evita que el título se reduzca demasiado */
    }

    .selectitem {
      padding: 8px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid #ccc;
      min-width: 200px; /* Para evitar que el select sea demasiado pequeño */
    }

    /* Responsivo: En pantallas pequeñas, los elementos se apilan */
    @media (max-width: 600px) {
      .contenedor-busqueda {
        flex-direction: column;
        align-items: center;
      }

      h6, .selectitem {
        width: 100%; /* Ocupa todo el ancho disponible */
        text-align: center;
      }
    }

