<app-superadminnavbar *ngIf="isSuperAdmin"></app-superadminnavbar>
<app-mantenimientoadminnavbar *ngIf="isAdminMantenimiento"></app-mantenimientoadminnavbar>
<app-biomedicaadminnavbar *ngIf="isAdminBiomedica"></app-biomedicaadminnavbar>
<app-biomedicatecniconavbar *ngIf="isTecnicoBiomedica"></app-biomedicatecniconavbar>
<app-biomedicausernavbar *ngIf="isUserBiomedica"></app-biomedicausernavbar>
<app-sistemasadminnavbar *ngIf="isAdminSistemas"></app-sistemasadminnavbar>
<app-mesausernavbar *ngIf="isMesaUser"></app-mesausernavbar>
