<div style="width: 90%; margin-left: 5%;">
  <h1 style="text-align: center; margin-top: 40px;">Registro de Equipos</h1>
  <div class="card" style="margin-top: 5%;">
    <div class="card-body">
      <form [formGroup]="equipoForm" (ngSubmit)="guardar()">

        <div class="row g-3">

          <div class="col-md-6">
            <label>Tipo de Equipo</label>
            <select formControlName="tipoEquipoIdFk" class="form-control">
              <option value="">Seleccione...</option>
              <option *ngFor="let t of tiposequipo" [value]="t.id">{{ t.nombres }}</option>
            </select>
          </div>

          <div class="col-md-6">
            <label>Nombre del equipo</label>
            <input type="text" formControlName="nombres" class="form-control"
              placeholder="Ej: Monitor de signos vitales" appUppercase />
          </div>

          <div class="col-md-6">
            <label>Marca</label>
            <input type="text" formControlName="marca" class="form-control" appUppercase />
          </div>

          <div class="col-md-6">
            <label>Modelo</label>
            <input type="text" formControlName="modelo" class="form-control" appUppercase />
          </div>

          <div class="col-md-6">
            <label>Serie</label>
            <input type="text" formControlName="serie" class="form-control" appUppercase />
          </div>

          <div class="col-md-6">
            <label>Placa</label>
            <input type="text" formControlName="placa" class="form-control" appUppercase />
          </div>

          <div class="col-md-6">
            <label>Registro INVIMA</label>
            <input type="text" formControlName="registroInvima" class="form-control" appUppercase />
          </div>

          <div class="col-md-6">
            <label>Riesgo</label>
            <select formControlName="riesgo" class="form-control">
              <option value="I">I</option>
              <option value="IIA">IIA</option>
              <option value="IIB">IIB</option>
              <option value="III">III</option>
              <option value="NA">NA</option>
            </select>
          </div>

          <div class="col-md-6">
            <label>Servicio</label>
            <select formControlName="servicioIdFk" class="form-control">
              <option value="">Seleccione...</option>
              <option *ngFor="let s of servicios" [value]="s.id">{{ s.nombres }}</option>
            </select>
          </div>

          <div class="col-md-6">
            <label>Ubicación</label>
            <input type="text" formControlName="ubicacion" class="form-control" appUppercase />
          </div>

          <div class="col-md-6">
            <label>Ubicación específica</label>
            <input type="text" formControlName="ubicacionEspecifica" class="form-control" appUppercase />
          </div>



          <div class="col-md-6">
            <label>Responsable</label>
            <select formControlName="responsableIdFk" class="form-control">
              <option value="">Seleccione...</option>
              <option *ngFor="let r of responsables" [value]="r.id">{{ r.nombres }} {{ r.apellidos }}</option>
            </select>
          </div>

          <div class="col-md-6">
            <label>Numero de Mantenimiento Preventivos Anuales:</label>
            <input type="number" max="12" formControlName="periodicidadM" class="form-control" />
          </div>



          <div class="col-md-6" *ngIf="showMetrologyFrequency">
            <label>Numero de Actividades Metrologicas Anuales:</label>
            <input type="number" max="12" formControlName="periodicidadAM" class="form-control" />
          </div>

        </div>

        <div class="text-center mt-4">
          <button type="button" (click)="guardar()" class="btn btn-dark px-5" style="margin: 10px;">Guardar</button>
          <button type="button" class="btn btn-secondary px-5" (click)="cancelar()">Regresar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<p-dialog header="Agregar Fechas de Mantenimiento" [modal]="true" [(visible)]="modalAddFechasMantenimiento"
  [style]="{ width: '20rem' }" [closable]="false">
  <div *ngFor="let item of fechasMantenimiento; let i = index; trackBy: trackByIndex" class="mb-3">
    <label class="block mb-2" [for]="'fecha-mant-'+i">Fecha {{ i + 1 }}</label>
    <p-datepicker [(ngModel)]="fechasMantenimiento[i]" inputId="{{ 'fecha-mant-' + i }}" view="month" dateFormat="mm/yy"
      [style]="{ width: '100%' }">
    </p-datepicker>
  </div>
  <div style="height: 150px;">

  </div>
  <div class="flex justify-end gap-2">
    <p-button label="Guardar" (click)="validarFechasMantenimiento()" />
  </div>
</p-dialog>

<p-dialog header="Agregar Fechas de Actividades Metrologicas" [modal]="true" [(visible)]="modalAddFechasCalibracion"
  [style]="{ width: '25rem' }" [closable]="false">
  <div *ngFor="let item of fechasCalibracion; let i = index; trackBy: trackByIndex" class="mb-4">
    <h5 class="mb-2 font-bold">Actividad {{ i + 1 }}</h5>

    <div class="field mb-3">
      <label class="block mb-1 text-sm font-medium" [for]="'fecha-cal-'+i">Fecha Programada</label>
      <p-datepicker [(ngModel)]="fechasCalibracion[i].fecha" inputId="{{ 'fecha-cal-' + i }}" view="month"
        dateFormat="mm/yy" [style]="{ width: '100%' }" appendTo="body">
      </p-datepicker>
    </div>

    <div class="field mb-3">
      <label class="block mb-1 text-sm font-medium" [for]="'tipo-act-'+i">Tipo de Actividad</label>
      <p-dropdown [options]="tipoActividadOptions" [(ngModel)]="fechasCalibracion[i].tipoActividad" optionLabel="label"
        optionValue="value" [style]="{ width: '100%' }" placeholder="Seleccione Tipo" appendTo="body">
      </p-dropdown>
    </div>
    <hr *ngIf="i < fechasCalibracion.length - 1" class="my-3 border-gray-300" />
  </div>

  <div class="flex justify-content-end mt-4">
    <p-button label="Guardar y Finalizar" (click)="validarFechasCalibracion()" styleClass="p-button-success" />
  </div>
</p-dialog>