.panelMantenimientos{

  width: 95%;
  height: 70%;
  margin: 0 auto;
}


.botonesMenu{
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  align-content: center;
}

.filtromes{
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  align-content: center;
}
