<div class="main-content bg-default min-h-screen">
  <div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Bienvenido!</h1>
            <p class="text-lead text-light">Inicia sesión en AppHusrt</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div style="text-align: center; margin-bottom: 2rem;">
          <img src="LogoAgora.png" height="100" alt="Logo" onerror="this.src='assets/logo.png'">
        </div>
        <div class="card bg-secondary shadow border-0">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <small>Ingresa tus credenciales</small>
            </div>
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                  <span class="input-group-text"><i class="pi pi-at"></i></span>
                  <input class="form-control" placeholder="Email" type="email" formControlName="email">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative">
                  <span class="input-group-text"><i class="pi pi-lock"></i></span>
                  <input class="form-control" placeholder="Password" type="password" formControlName="password">
                </div>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary my-4 w-100">Iniciar sesión</button>
              </div>
            </form>
          </div>
          <div class="card-footer py-3 border-0">
            <div class="text-center">
              <a href="/recuperarcontraseña" class="text-primary"><small>¿Olvidaste tu contraseña?</small></a>
            </div>
            <div class="text-center mt-3">
              <button type="button" class="btn btn-secondary btn-sm w-100" (click)="loginInvitado()">Acceder como
                Invitado</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>