<app-biomedicausernavbar></app-biomedicausernavbar>
<div style="margin-top: 3%; margin-left: 5%; margin-right: 5%; background-color: white;">
</div>

<div style="margin-top: 2%; margin-bottom: 2%;">
  <h1 style="text-align: center;">EQUIPOS BIOMEDICOS DEL TIPO: {{tipoEquipo.nombres}}</h1>
  <h6 style="text-align: center;"> Todos los equipos de tipo {{tipoEquipo.nombres}}</h6>
</div>
<div style="margin-left: 3%; margin-right: 3%; margin-top: 5%;">
  <div class="card">
    <p-table #dt2 [value]="equipos" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50, 100]"
      [loading]="loading" [paginator]="true" [globalFilterFields]="['nombres', 'marca', 'modelo', 'serie']"
      [tableStyle]="{ 'min-width': '10rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th style="width:5%;">ID(Hv)</th>
          <th style="width:7%;">Nombre</th>
          <th style="width:7%">Marca</th>
          <th style="width:7%">Modelo</th>
          <th style="width:7%">Serie</th>
          <th style="width:7%">Ubicacion Especidica</th>
          <th style="width:7%">Meses Mtto</th>
          <th style="width:7%">Registro</th>
          <th style="width:7%">Riesgo</th>
          <th style="width:7%">Opciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-equipo>
        <tr>
          <td style="text-align: center;">
            <button type="button" class="btn btn-primary btn-sm">{{equipo.id}}</button>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ equipo.nombres }}
            </span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ equipo.marca }}
            </span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ equipo.modelo }}
            </span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ equipo.serie }}
            </span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ equipo.ubicacionEspecifica }}
            </span>
          </td>
          <td>
            <!--- PARA LOS BOTONES DE FUNCIONES -->
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ equipo.registroInvima }}
            </span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ equipo.riesgo }}
            </span>
          </td>
          <td>
            <!--- PARA LOS BOTONES DE FUNCIONES -->
            <p-splitbutton label="HV" icon="pi pi-check" dropdownIcon="pi pi-cog" [model]="items"
              severity="secondary" />
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">No hay Equipos.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div>
  <h1></h1>
</div>
