<div class="card border-0 shadow-sm rounded-0 mb-4">
  <p-menubar [model]="items" styleClass="border-none bg-surface-0 border-round-xl">
    <ng-template pTemplate="start">
      <div class="flex align-items-center gap-2 mr-4">
        <img src="assets/LogoAgora.png" height="40" alt="Logo" onerror="this.src='assets/logo.png'" />
        <div class="flex flex-column">
          <a class="font-bold text-primary text-lg no-underline" [routerLink]="['/superadmin']">AppHusrt</a>
          <span class="text-xs text-secondary">Super Admin</span>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-3">
        <p-avatar icon="pi pi-user" styleClass="bg-primary-50 text-primary cursor-pointer" shape="circle"
          (click)="viewUser()" pTooltip="Perfil"></p-avatar>
        <button pButton icon="pi pi-sign-out" class="p-button-rounded p-button-text p-button-danger" (click)="logout()"
          pTooltip="Cerrar Sesión"></button>
      </div>
    </ng-template>
  </p-menubar>
</div>