<div class="menubar-wrapper">
  <p-menubar [model]="items" styleClass="glass-navbar border-none border-round-xl">
    <ng-template pTemplate="start">
      <div class="logo-container flex align-items-center gap-2 px-2 cursor-pointer" routerLink="/superadmin">
        <i class="pi pi-shield text-primary text-2xl"></i>
        <div class="flex flex-column">
          <span class="font-bold text-primary text-lg">AppHusrt</span>
          <span class="text-xs text-secondary">Super Admin</span>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <p-avatar icon="pi pi-user" styleClass="mr-2 cursor-pointer" shape="circle"
          [style]="{'background-color': '#eef2ff', 'color': '#0056b3'}" (click)="viewUser()"
          pTooltip="Perfil"></p-avatar>
        <button pButton icon="pi pi-power-off" class="p-button-rounded p-button-text p-button-danger"
          pTooltip="Cerrar Sesión" tooltipPosition="bottom" (click)="navigateToAbout()"></button>
      </div>
    </ng-template>
  </p-menubar>
</div>