<app-superadminnavbar></app-superadminnavbar>

<div style="margin-left: 5%; margin-right: 5%; margin-top: 2%;">
  <div class="card">
    <p-table #dt2 [value]="usuarios" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
      [paginator]="true" [globalFilterFields]="['nombres', 'apellidos', 'email', 'telefono']"
      [tableStyle]="{ 'min-width': '75rem' }">
      <ng-template pTemplate="caption">
        <div class="flex">

        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width:22%">Nombre</th>
          <th style="width:22%">Apellidos</th>
          <th style="width:22%">Telefono</th>
          <th style="width:22%">Email</th>
          <th style="width:12%">Estado</th>
          <th style="width:12%">Opciones</th>
        </tr>
        <tr>
          <th>
            <p-columnFilter type="text" field="nombres" placeholder="Buscar por Nombre" ariaLabel="filtrar nombre" />
          </th>
          <th>
            <p-columnFilter type="text" field="apellidos" placeholder="Buscar por Apellido" ariaLabel="Filtrar Apellido" />
          </th>
          <th>
            <p-columnFilter field="representative" matchMode="in" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
              <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter type="boolean" field="verified" />
          </th>
          <th>
            <button type="button" class="btn btn-outline-primary" (click)="showRegisterForm()">
              <i class="bi bi-person-plus-fill" style="font-size: 1.5rem; color: rgb(156, 212, 245);"></i>
            </button>

          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuario>
        <tr>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ usuario.nombres }}
            </span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ usuario.apellidos }}
            </span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ usuario.telefono }}
            </span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              {{ usuario.email }}
            </span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle" *ngIf=" usuario.estado">
              <i class="bi bi-person-check-fill" style="font-size: 1.5rem; color: rgb(82, 212, 7);"></i>
            </span>
            <span class="ml-1 vertical-align-middle" *ngIf=" !usuario.estado">
              <i class="bi bi-person-x-fill" style="font-size: 1.5rem; color: rgb(243, 11, 11);"></i>
            </span>
          </td>
          <td>
            <span class="ml-1 vertical-align-middle">
              <button type="button" class="btn btn-outline-warning btn-sm">
                <i class="bi bi-pencil-square"></i>
              </button>
            </span>

            <span class="ml-1 vertical-align-middle" *ngIf="usuario.estado">
              <button type="button" class="btn btn-outline-danger btn-sm">
                <i class="bi bi-x-circle"></i>
              </button>
            </span>

            <span class="ml-1 vertical-align-middle" *ngIf="!usuario.estado">
              <button type="button" class="btn btn-outline-success btn-sm">
                <i class="bi bi-check-circle"></i>
              </button>
            </span>
          </td>

        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="5">Usuarios no encontrados.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

