<app-mantenimientoadminnavbar></app-mantenimientoadminnavbar>

<div class="dashboard-container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <button class="btn btn-secondary me-2" (click)="backToDashboard()">
        <i class="bi bi-arrow-left me-2"></i>Volver al Inicio
      </button>
    </div>
    <h3 class="mb-0">
      Planes de Mantenimiento {{ nombreReferencia !== 'Global' ? '- ' + nombreReferencia : '' }}
    </h3>
    <div></div>
  </div>

    <app-programacion-mantenimiento [isEmbedded]="true" [selectedAreaId]="currentAreaId"></app-programacion-mantenimiento>
</div>